html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Bevan", serif;
  margin: 0em;
  padding-top: .75em;

}

header {
  text-align: center;
  color: #fff;
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  padding: 0;
  margin: 0;
}

.nav {
  font-family: "sans-serif", sans-serif;
  padding: 0em;
  margin-top: 0em;
}

.nav li {
  display: inline-block;
  margin: .3em;
  margin-left: 0em;
  margin-right: 0em;
  padding: .5em;
  padding-left: .75em;
  padding-right: .75em;
  background-color: #713837;
  border-radius: 6px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav li:hover {
  display: inline-block;
  margin: .3em;
  margin-left: 0em;
  margin-right: 0em;
  padding: .5em;
  padding-left: .75em;
  padding-right: .75em;
  background-color: #f33;
  border-radius: 6px;
}
