html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

h1 {
  font-family: Bevan, serif;
  font-weight: lighter;
  margin-top: .3em;
  margin-bottom: 0;
}

a {
  display: inline-block;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 6px;
  padding: .6em;
  background-color: #713837;
  color: #fff;
}

ul li {
  display: inline-block;
  list-style-type: none;
}

li {
  margin-bottom: .3em;
}

header a:hover {
  background-color: #f33;
}

.nav {
  margin-top: 0;
  margin-bottom: .3em;
}
