html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: "Bevan", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.nav li {
  display: inline-block;
}
